body {
    font-family: Karla, Arial, Helvetica, sans-serif;
    font-weight: 400;
    letter-spacing: 0px;
    font-size: 15px;
}

body #wrapper {
    margin-left: 240px;
    width: auto;
}

#main.width-100 {
    padding: 0;
    position: relative;
    z-index: 3;
    background: transparent;
}

#side-header {
    position: fixed;
    height: auto;
    left: 0;
    width: 240px;
}

#side-header .side-header-background,
#side-header .side-header-border {
    width: 240px;
}

#main .fullwidth-box .puur-row {
    background: #fff;
}

.slider-logo {
    margin-left: 100px;
    opacity: 1;
    margin-top: 0px;
    position: absolute;
    top: 250px;
}

.puur-layout-column {
    margin-bottom: 0;
}

.content-wrapper {
    padding: 5%;
    height: auto;
    visibility: visible;
    animation-duration: 1s;
}

.post-content h1 {
    text-transform: uppercase !important;
    text-align: center;
}

.post-content p {
    font-family: Karla, Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #000000;
    line-height: 1.13;
    letter-spacing: 0px;
    font-size: 16px;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.width-100 .puur-fullwidth {
    /*margin-bottom: 80px;*/
    margin-bottom: 0;
}

.width-100 .puur-fullwidth.parallax-img {
    margin-bottom: 0;
}

.tfs-slider.flexslider {
    max-width: 1663px;
    left: 240px;
    height: 476px;
    display: block;
    position: fixed;
    margin-left: 0px;
}

.puur-row {
    background-position: left top;
    background-repeat: no-repeat;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-color: #eae9e9;
    border-top-style: solid;
    border-bottom-style: solid;
}

.puur-social-networks.boxed-icons .puur-social-network-icon {
    color: #ffffff;
    background-color: #d36e70;
    border-color: #d36e70;
    border-radius: 50%;
}


/* Footer */

.puur-footer-widget-area {
    background-color: #363839;
    border-color: #ffffff;
    border-top-width: 12px;
    padding-top: 0%;
    padding-bottom: 0%;
    padding-left: 0;
    padding-right: 0;
}

.puur-footer-copyright-area {
    background-color: #ffffff;
    border-color: #ffffff;
    border-top-width: 1px;
    padding-top: 18px;
    padding-bottom: 16px;
}

.puur-footer-copyright-center .puur-copyright-content {
    display: block;
    text-align: center;
}

.puur-copyright-notice {
    color: #000000;
    font-size: 12px;
}

.puur-footer-copyright-center .puur-copyright-notice,
.puur-footer-copyright-center .puur-social-links-footer {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 12px;
}

.puur-footer-copyright-center .puur-social-links-footer {
    margin-top: 20px;
}

.puur-footer-widget-area .puur-footer-widget-column .puur-column {
    line-height: 1.8;
}

.left .layout-content {
    float: right;
}

.left .layout-image {
    float: left;
}


/* Button */

.puur-button.button-1 .puur-button-text,
.puur-button.button-1 i {
    color: #000000;
}

.puur-button.button-1 {
    border-width: 2px;
    border-color: #000000;
    background: #fff !important;
}

.puur-button.button-1 .puur-button-icon-divider {
    border-color: #000000;
}

.puur-button.button-1:hover .puur-button-text,
.puur-button.button-1:hover i,
.puur-button.button-1:focus .puur-button-text,
.puur-button.button-1:focus i,
.puur-button.button-1:active .puur-button-text,
.puur-button.button-1:active {
    color: #ffffff;
}

.puur-button.button-1:hover,
.puur-button.button-1:focus,
.puur-button.button-1:active {
    border-width: 2px;
    border-color: #ffffff;
}

.puur-button.button-1:hover .puur-button-icon-divider,
.puur-button.button-1:hover .puur-button-icon-divider,
.puur-button.button-1:active .puur-button-icon-divider {
    border-color: #ffffff;
}

.puur-button.button-1 {
    background: rgba(255, 255, 255, 0);
}

.puur-button.button-1:hover,
.button-1:focus,
.puur-button.button-1:active {
    background: #d36e70 !important;
}

.puur-button.button-1 {
    width: auto;
}

.left .layout-content {
    background-color: rgb(250, 207, 198);
}

.left .layout-content p,
.left .layout-content h1 {
    color: #fff;
}

.puur-separator.sep-single {
    border-color: #000000;
    border-top-width: 2px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 40px;
    width: 100%;
    max-width: 50%;
}

.left .puur-separator.sep-single {
    border-color: #ffffff;
}

#side-header .side-header-border:before {
    box-shadow: 10px 0px 50px -2px rgba(0, 0, 0, 0.14);
    -webkit-box-shadow: 10px 0px 50px -2px rgba(0, 0, 0, 0.14);
    -moz-box-shadow: 10px 0px 50px -2px rgba(0, 0, 0, 0.14);
}

#side-header .puur-main-menu>ul>li>a {
    border-left-width: 0;
}